
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
Export Files/
Import/
toNexant/
toNexantArchive/
fromNexant/
fromNexantArchive/
Assessment Files - archived/
Assessment Files - incoming/
[Tt]est[Rr]esult*
#ignore temporary Excel files
~*.xlsm
~*.xls
